#headerLogo {
	max-width: 350px;
	min-width: 300px;
	margin-top: 80px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.appDiv {
	max-width: 800px;
}

.welcome-container {
	margin: 0 auto;
	background-color: rgba(255,255,255, 0.9);
    width: 300px;
    height: 150px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.7);
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.inner-container {
	text-align: center;
}

.welcome-header {
 	text-align: center;
	font-family: "Futura", "Arial Bold", Gadget, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 900;
	line-height: 31px;
	font-kerning: auto;
	color: #2470A1;
	margin-top: 21px;
	margin-bottom: 0;
}

.background {
    /*position: center;*/
    background-image: url("http://i67.tinypic.com/fy06zo.jpg");
    background-repeat:no-repeat;
    background-size:100% 100vh;
}

.enter-button {
	color: white;
	height: 22px;
	width: 238px;
	border-radius: 3px;
	background: #2470A1;
	margin: 10px;
}

.enter-button:hover {
  background: #195277;
}

#airport-input {
	height: 20px;
	width: 230px;
	margin-top: 15px;
}

#this-that-back-button {
	color: white;
	height: 22px;
	width: 238px;
	border-radius: 3px;
	background: #2470A1;
	margin: 10px;
}

#this-that-back-button:hover {
  background: #195277;
}

#option-question {
	text-align: center;
	font-family: "Futura", "Arial Bold", Gadget, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 900;
	line-height: 31px;
	font-kerning: auto;
	color: black;
	margin-top: 10px;
	margin-bottom: 0;
}

.this-or-that-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 50px;
}

.this-or-that-container .welcome-container {
	margin: 0;
}

.this-or-that-container img {
	height: 250px;
}










