#headerLogo {
	max-width: 400px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.appDiv {
	max-width: 800px;
}

.welcome-container {
    display: flex;
    justify-content: center;
}

.images {
    max-width: 35%;
}

.img-container {
 display: flex;
 justify-content: center;
 flex-direction: row;
 width: 80%;
}

.inner-img-container {
    display: inline;
    margin: auto;
}